PGD1/bin/Debug/net9.0/monogame.dll
PGD1/bin/Debug/net9.0/monogame.pdb
PGD1/Content/obj/DesktopGL/net9.0/Content/.mgstats
PGD1/Content/obj/DesktopGL/net9.0/Content/DefaultFont.mgcontent
PGD1/Content/obj/DesktopGL/net9.0/Content/defaultPhoto.mgcontent
PGD1/Content/obj/DesktopGL/net9.0/Content/mapamundi.mgcontent
PGD1/obj/Debug/net9.0/monogame.AssemblyInfo.cs
PGD1/obj/Debug/net9.0/monogame.AssemblyInfoInputs.cache
PGD1/obj/Debug/net9.0/monogame.csproj.CoreCompileInputs.cache
PGD1/obj/Debug/net9.0/monogame.dll
PGD1/obj/Debug/net9.0/monogame.pdb
PGD1/obj/Debug/net9.0/monogame.sourcelink.json
PGD1/obj/Debug/net9.0/ref/monogame.dll
PGD1/obj/Debug/net9.0/refint/monogame.dll
